
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}


#techword{

    font-size:20px;
    color: gray;
}


#bootstraplink{
    margin-left: 5px;
}

.social-icon {
    width: 45px;
    height: 45px;
}


#instagram-icon {
    width: 50px;
    height: 50px;
}

#yelp-icon {
    width: 42px;
    height: 42px;
}

#twitter-icon {
    width: 50px;
    height: 50px;
}
