.nav-bar{
  background-color: rgba(0,0,0,.7);
  position: fixed;
  width: 100%;
  height:50px;
  z-index: 100;
}
.pull-right{
  float: right;
  }

.nav-bar ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.nav-bar ul:after {
	content:'';
	display:table;
	clear:both;
}

.nav-bar a {
	text-decoration:none;
}
.nav-bar a:hover{
    text-decoration: none;
}

.nav-bar li a{
  color: #ffffff;
  float: left;
  padding: 15px 30px;
  transition: all .3s;
  cursor: pointer;
}

.nav-bar li a:hover{
  color: #ff3333;
}
