
.navbar {
    margin-bottom: 0px;
}

.intro-message {
    margin-left:25%;
    margin-right:25%;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
     background: rgba(0, 0, 0, 0.5);
    padding:10px;

    text-align:center;
}


footer.page-footer.footer {
  background-color: #222;
  margin-left: -.75rem;
  margin-right: -.75rem;
}

.VideoOverlayIcon {
  width: 50;
  height: 50;
}

.VideoOverlayIcon:hover {
  width: 60;
  height: 60;
}

.container {
  margin-top: 50px;
}